html {

}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background: rgba(200, 54, 54, 0);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main_ui_cia_logo {
  overflow:none;
}
.main_ui_cia_logo img{
  position:absolute;
  right:0px;
  top:0px;
}
.main_ui_auto_confianca {
    min-width:247px;
}
.status-text {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
}
.text-container {
    position: relative;
    text-align: center;
    color: white;
    font-size: 14px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  /* Set the fixed height of the footer here */
  height: 257px;
  line-height: 34px; /* Vertically center the text there */
  background-color: #283641;
}

.option{
      margin:15px;
      font-size:18px;
      padding:2px;
      padding-left:10px;
      border: 2px solid white;
      cursor:pointer;
      border-color: #0d7680;
      background-color: transparent;
      color: #fff;
      }
.option:hover{
      border:#FFF solid 2px;
      color:#FFF;
      }

.btn-main-menu
{
  font-size:40px;
}
#questionContainer2{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}      
#questionContainer1{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #283641; /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.main-menu {
    background: url(../interface/MainMenu_BG.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #283641; /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.main-menu img{
  max-width:70%; /* you can use % */
  height: auto;
}

.modal-content {
    background-color: #283641;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    color:white;
}

.preload-images{
    position:absolute;
    left:-9999px;
    display: none;
}
.result{
      margin:1px;
      font-size:18px;
      padding:2px;
      padding-left:10px;
      border: 2px solid white;
      border-color: #FFFFFF;
      background-color: transparent;
      color: #fff;
      }