html {
    height:100%;
}

body {
    height:100%;
  /* Margin bottom by footer height */
  background: rgba(200, 54, 54, 0);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.main_ui_cia_logo {
}
.main_ui_cia_logo img{
  right:0px;
  top:0px;
}
.main_ui_auto_confianca {
    min-width:200px;
}
.status-text {
    font-weight: bold;
    transform: translate(12%, -200%);
}
.text-container {
    position: relative;
    color: white;
    font-size: 11px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  /* Set the fixed height of the footer here */
  min-height: 50px;
  background-color: #283641;
}
.svg-icon
{
    width:10px;
    margin-bottom: 4px;
    margin-right: 4px;
}

.option{
      margin:15px;
      font-size:16px;
      padding:2px;
      padding-left:10px;
      padding-right:10px;
      border: 2px solid white;
      cursor:pointer;
      border-color: #0d7680;
      background-color: transparent;
      color: #fff;
      }
.option:hover{
      border:#FFF solid 2px;
      color:#FFF;
      }

.btn-main-menu
{
  font-size:40px;
  padding-left: 50px;
  padding-right: 50px;
  
}

.popup-button
{
  font-size:20px;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  
}
#questionContainer2{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}      
#questionContainer1{
}

.question{
    margin: 16px;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #283641; /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.main-menu {
    background: url(../interface/MainMenu_BG.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #283641; /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.splash-screen {
    background: url(../interface/BG_SplashScreen.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}

.main-menu img{
  max-width:45%; /* you can use % */
  height: auto;
}

.modal-content {
    background-color: #283641;
    margin-top:15%;
    margin-bottom:15%;
    padding: 20px;
    border: 1px solid #888;
    width: 100%; /* Could be more or less, depending on screen size */
    color:white;
    text-align:center;
}

.preload-images{
    position:absolute;
    left:-9999px;
    display: none;
}
.result{
      margin:1px;
      font-size:18px;
      padding:2px;
      padding-left:10px;
      border: 2px solid white;
      border-color: #FFFFFF;
      background-color: transparent;
      color: #fff;
      }
.dica-word{
    color: #f4a742;
    font-size:20px;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 3px;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.splash-screen-container
{
    max-width:80%;
}
.splash-screen-container img
{
    max-width:60%;
    max-height:30%;
}