html {

}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background: rgba(200, 54, 54, 0);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main_ui_cia_logo {
  overflow:none;
}
.main_ui_cia_logo img{
  position:absolute;
  right:0px;
  top:0px;
}
.main_ui_auto_confianca {
    min-width:247px;
}
.status-text {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
}
.text-container {
    position: relative;
    text-align: center;
    color: white;
    font-size: 14px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  /* Set the fixed height of the footer here */
  height: 257px;
  line-height: 34px; /* Vertically center the text there */
  background-color: #283641;
}

.option{
      margin:15px;
      font-size:18px;
      padding:2px;
      padding-left:10px;
      border: 2px solid white;
      cursor:pointer;
      border-color: #0d7680;
      background-color: transparent;
      color: #fff;
      }
.option:hover{
      border:#FFF solid 2px;
      color:#FFF;
      }
      
#questionContainer2{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}      
#questionContainer1{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}